/* GRID */
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horisontal:6rem;
$gutter-vertical-small: 6rem;
/* colors */
$color-primary:#04C2C9;
$color-primary-dark:#23979f;
$color-secondary:#222629;
$color-grey-dark:#333;
$color-white:#fff;
$color-black: #000;
$font-color-paragraph:#616161;
$font-color-heading:#444649;    

$color-red: #c01d44;

/* font sizes */
$default-font-size: 1.6rem;