
.row  {
    max-width: 114rem;    
    margin:0 auto; /* centrira elemtnt u  kontejneru */   

    &:not(:last-child) { /* sve osim zadnjeg */
        margin-bottom: $gutter-vertical; 

        @include respond(tab-port) {
            margin-bottom: $gutter-vertical-small;
        }    
    }

    @include respond(tab-port) {
        max-width: 50rem; /* max width je 50rem sto znaci da kada je viewPort manji od 50rem bice 100% */
        padding: 0 3rem;
    }   
   

    @include clearfix; 

    [class^="col-"] {/* sve klase koje pocinju sa tim imenon */
        float: left;
       
        &:not(:last-child) { /* sve osim zadnjeg */
            margin-right: $gutter-horisontal; 

            @include respond(tab-port) {
                margin-right:0;
                margin-bottom:$gutter-vertical-small; /* kolone sada nemaju desnu marginu nego donj */
            }            
        } 
        
        @include respond(tab-port) {
            width: 100% !important;/* kada je responsive dizajn sve kolone bice duzine kao parent */
        }        
    }

    .col-1-of-2 {
        width: calc((100% - #{$gutter-horisontal}) /  2);/*  */     
    }

    .col-1-of-3 {
        width: calc((100% - 2 *#{$gutter-horisontal}) /3);/*  */
    }

    .col-2-of-3 {
        width: calc(2 *((100% - 2 *#{$gutter-horisontal}) /3) + #{$gutter-horisontal});/*  */
    }

    .col-1-of-4 {
        width: calc((100% - 3 *#{$gutter-horisontal}) /4);/*  */
    }

    .col-2-of-4 {
        width: calc(2 * ((100% - 3 *#{$gutter-horisontal}) /4) + #{$gutter-horisontal});/*  */
    }

    .col-3-of-4 {
        width: calc(3 * ((100% - 3 *#{$gutter-horisontal}) /4) + 2 * #{$gutter-horisontal});/*  */
    }
}

