.header {
    height: 100vh; /* prekriva uvek 95% */
    background-image: linear-gradient(to right bottom,  rgba($color-secondary, 1), rgba($color-secondary,0.8 ) ) ,  url(../img/developer_main_screen_background.jpg);
    background-size: cover;
    background-position: top;
  
    position: relative;
    @include clearfix;  
    @include respond(phone) {        
    }

    &__logo {
        float: right;

        @include respond(tab-port) {                
            display: table;/* fora da div bude centriran */
            margin-right: auto;
            margin-left: auto;
        }
    
        @include respond(phone) {          
            display: table;/* fora da div bude centriran */
             margin-right: auto;
             margin-left: auto;      
        }    
       
        &__icon {
            color: white;
            font-size: 2rem;
        }

        &__span {
            color: white;
            font-size: 2rem;
            margin-left: 1rem;
        }

        &__list-item {
            float: left;
            display: inline;
            padding-left: 1rem;
            color: white;
            text-decoration: none;

            &__a {
                text-decoration: none;
            }
        }
    }


    &__text-box { 
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%, -50%); /* pomera  element jer se 50% meri od gornjeg levog ugla */
        text-align: center/* ovo radimo jer je <a> element ustvari tekst i hocemo da centriramo*/
    
    }   

    &__bottom-box {
        position: absolute;
        bottom: 0;
        left:0;      
        width: 100%;
        padding-left: 6rem;
        padding-right: 6rem;      
        padding-bottom:3rem;
        @include clearfix;      

        &--container {               
            border-top: 1px solid rgba(255,255,255,.25);
            padding-top:3rem; 
        }       

    }

}