.line {
  height: 25px; 
  margin: 0 auto ;
  line-height: 25px;
  font-size: 14px;
  color: $font-color-paragraph;
  padding: 0 0 0 ;
  position: relative; 

  &__text {
    float: right;
    margin-right: 20px;
  }

  &__title {
    width: 25%;
    float: left;
    background: $color-primary;
    color: white;
    text-align: center;
    font-weight: 700;
  }

  &--1 {
    &::after {
      max-width:70%;
    }
  }

  &--2 {
    &::after {
      max-width:70%;
    }
  }

  &--3 {
    &::after {
      max-width:65%;
    }
  }

  &--4 {
    &::after {
      max-width:65%;
    }
  }

  &--5 {
    &::after {
      max-width:80%;
    }
  }

  &--6 {
    &::after {
      max-width:70%;
    }
  }

  &--7 {
    &::after {
      max-width:85%;
    }
  }

  &--8 {
    &::after {
      max-width:60%;
    }
  }


  &::before {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    height: 25px;
    z-index: -2;
    background:#ececec; 
  }
  
  &::after {
    content: '';
    background: $color-primary-dark;
    height: 25px;
    transition:0.8s;
    display: block;
    width: 100%;
    animation: bar 1 14s;     
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }  

  &--animation {
  
  }
}
