.btn{
    &,
    &:link,
    &:visited { 
        text-decoration: none; 
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all .2s; 
        position: relative;
        font-size: 1.8rem;         
        cursor:ponter;
    }

    &:after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;/* ovo je inicijalno stanje i tu kazemo sta hocemo da animiramo iz pseudo elemenata */
    }

    &:hover {
        transform:translateY(-3px); /* kada hoverujemo <a> da se pomeri na gore */
        box-shadow: 0 1rem 2rem rgba($color-black,.2);/* senka */
    }

    &:hover::after {
    transform: scaleX(1.5) scaleY(1.6);/* duplo vece  */
    opacity:0;    
    }

    &:active,
    &:focus {
        outline:none;
        transform: translateY(-1px);
        box-shadow: 0 5px 10px rgba($color-black, .2);/* senka */
    }

    &--primary {
    background-color: $color-primary;
    margin-top:1rem;
    color: $color-white;   
        &::after {
            background-color:$color-primary;           
        }
    }

    &--dark-blue{
        background-color: $color-primary-dark;
        font-size: 1.5rem;
       
        color: $color-white;   
            &::after {
                background-color:$color-primary-dark;           
            }
        }

    &--animated {
    animation: moveInRight .5s ease-out .75s;
    animation-fill-mode: backwards;
    }  
     
}

