.card {/* Kontejner za sve kartice */
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem; 

    &__side {/* element */
        height: 52rem;
        transition: all .8s ease;    /* kada hoverujemo bilo koji menjace se oba */       
        position: absolute; /* absolute position element is not behave as block level element  */
        width: 100%;   
        top:0;
        left:0;
        border-radius: .3rem;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);        
      
        backface-visibility: hidden;/* skriva zadnju stranu */

        &--padding {
            padding: 4rem 4rem;
        }

        &--front {/* modifier ova oba su takodje i __side */
         
            background-image: linear-gradient(to right bottom, $color-secondary, rgba(34, 38, 41, 0.8)),  
        }

        &--back {         
            transform: rotateY(180deg);                        
              background-image: linear-gradient(to right bottom, $color-primary, $color-primary);         
        }
    }  

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__heading {/* card_heading je isto u card__side ali samo u divovima koji imaju front i parent je za header */
        font-size: 2.8rem;
        font-weight: 300;           
        color: $color-white;    
        width: 75%;         
    
    }

    &__heading--secondary {
        font-size: 2rem;
        font-weight: 300;           
        color: $color-white;    
    }

    &__icon {
        font-size:1.6rem;
        color:$color-red;
    }

    &__span {
        margin-left:1.6rem;
        font-size:1.4rem;
        color:#ffff;
    }

}

