.form {
    &__group:not(:last-child) {
        margin-bottom: 1rem; 
    }    

    &__input {
        font-size: 1.5rem;
        font-family: inherit;/* input ne nasledjuje font p */
        color: $font-color-paragraph;
        padding: 0.8rem 1.2rem;
        border-radius: 2px;        
        border: none;      
        border-bottom: 3px solid transparent;        
        display: block;
        transition: all .3s;  
        width: 100%;   
        
        &--message {
            padding-bottom: 8rem;
        }
        
        &:focus {
            outline: none;
            // box-shadow: 0 1rem 2rem rgba($color-black, .1);          
            border-bottom: 4px solid 
        }

        &::-webkit-input-placeholder {
             color: $font-color-paragraph;/*boja placehodera  */
        }

        &:focus:invalid {/* pseudo element kada je stanje invalidno  */
            border-bottom: 4px solid $color-red;; 
        }    
    }

    &__label {
         font-size: 1.5rem;
         font-weight: 700;
         margin-left: 2rem;
         margin-top: 0.2rem;
         display:  block;
         transition:all .3s;  
         color: white;
    }

    &__input:placeholder-shown + &__label {
         opacity: 0;
        visibility: hidden;  
        transform: translateY(-4rem);       
    }
}