.img-box {     
    position: relative;   
    box-sizing: border-box;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    margin-bottom: 2rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);   

    &--1 {
        position: relative;  
    }
    
    &__animated {       

        &--1 {
            animation: img-box-move-in-right 1.6s ease-out;             
        }

        &--2 {
            animation: img-box-move-in-right 1.8s ease-out;          
        }

        &--3 {
            animation: img-box-move-in-right 2s ease-out;       
        }

        &--4 {
            animation: img-box-move-in-right 2.2s ease-out;         
        }
    }

    &--primary {
        width: 200px;
        height: 180px;       
    }

    &--secondary {
        width: 140px;
        height: 120px;
        background-color: #04C2C9;     
        color: #fff;
    }
}

