.portfolio {

    position: relative;

    &__image {
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }

      &__middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }

      &__icon {
         font-size: 2rem; 
         color: $color-primary;

         display: inline-block;
         border-radius: 60px;
         box-shadow: 0px 0px 2px #888;
         padding: 0.5em 0.6em;
       
      }

      &:hover &__image {
        opacity: 0.3;
      }      

      &:hover &__middle {
        opacity: 1;
      }
      
      &__text {
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        padding: 16px 32px;
      }
}