@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    80% {
        transform: translateX(1rem)
    }

    100% {
        opacity:1;
        transform: translate(0)
    }
}

@keyframes headline-secondary-left {
    0% {
        opacity: 0;
        transform: translateX(-400px)
    }

    80% {
        transform: translateX(1rem)
    }

    100% {
        opacity:1;
        transform: translate(0)
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem)
    }

    80% {
        transform: translateX(-1rem)
    }

    100% {
        opacity:1;
        transform: translate(0)

    }
}

@keyframes img-box-move-in-right {
    0% {
        opacity: 0;
        transform: translateX(40rem)
    }

    80% {
        transform: translateX(-1rem)
    }

    100% {
        opacity:1;
        transform: translate(0)

    }
}

@keyframes moveInBtn {
    0% {
        opacity: 0;
        transform: translateY(3rem)
    }

    100% {
        opacity:1;
        transform: translate(0)
    }
}

@keyframes moveInTop {
    0% {
        opacity: 0;
        transform: translateY(-3rem)
    }

    100% {
        opacity:1;
        transform: translate(0)
    }
}

@keyframes bar {
    0% {
      width: 0;
    }
  
    100% {
      width: 100;
    }
}