@import "../abstracts/variabless";

*, *::after, *::before{
    margin: 0;
    padding: 0;  
    box-sizing: inherit;
}
html {
    font-size: 62.5%;

    @include respond(phone) {        
        font-size:50%;
    }

    @include respond(tab-land) {        
        font-size:56.2%; 
    }

    @include respond(tab-port) {   
        font-size:50%;
    }

    @include respond(big-desktop) {        
        font-size:75%;
    } 
}
 body {  
    font-family: 'Raleway';

    color: $font-color-paragraph;   
     box-sizing: border-box;
    //  @include respond(tab-port) {        
    //    padding: 0;
    // } 
}