.heading-primary {
    color:$color-white;  
    &--main {
        @include respond(phone) {    
            letter-spacing: 1rem;
            font-family:5rem; 
        }
        font-family: "Open Sans",sans-serif;        
        display:inline-block;
        letter-spacing: 1rem;
        font-size: 4.5rem;
        font-weight: 100;
        animation: moveInLeft 1s ease-out;

        @include respond(tab-port) { 
            font-size: 4 rem;
        }    

        @include respond(phone) { 
            font-size: 3.5rem;    
        }
    }
    
    &--strong {
        @include respond(phone) {    
            letter-spacing: .5rem;             
        }
        display:inline-block;
        font-size: 4.5rem;       
        font-weight: 700;
        letter-spacing: 1rem;
        animation: moveInLeft 1s ease-out;  
        color:$color-red; 
        
        @include respond(tab-port) { 
            font-size: 4 rem;
        }   

        @include respond(phone) { 
            font-size: 3.5rem;    
        }
    }  
}

.heading-paragraph {
    font-size: 3rem;
    color:$color-white; 
    font-weight: 300;
    animation: moveInRight 1s ease-out;   

    @include respond(tab-port) { 
        font-size: 2.5 rem;
    }

    @include respond(phone) { 
        font-size: 2rem;
        text-align: center;
    }

    &--secondary {
        text-transform: uppercase;
        color:white;
        font-size: 2rem;
        float:left;    
        
        @include respond(tab-port) { 
            font-size: 1.8 rem;
            text-align: center;
            margin-left:1rem;
            margin-bottom:1rem;
        }
    
        @include respond(phone) { 
            font-size: 1.6rem;
            text-align: center;
            margin-bottom:1rem;    
        }     
    }
}

.icon {
    font-size: 1.5em;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);    
}

.highlight{
    color: $color-red;
    text-decoration: none;
}
 .heading-secondary{      
        color:$font-color-heading;  
        transition:all .2s;
        letter-spacing: 2px;

        &:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
        }

        &__headline {
            font-size: 3.5rem;                   
            text-transform: uppercase;
            display: inline-block;
            font-family: 'Raleway-bold', sans-serif;
            line-height: 1.1;
            text-decoration: none; 
            margin-right: 1.6rem;
            font-weight: 700;    
            
            @include respond(tab-port) { 
                font-size: 2.5 rem;        
            }

            @include respond(phone) { 
                font-size: 2.5rem;        
            }
        } 
        
        &__animation {
            animation: headline-secondary-left 0.9s ease-out;  
        }
}

.heading-tetriary {
    font-size: 1.8rem;
    color: $font-color-heading;
    font-weight: 700;
    margin-bottom: 1rem;

    @include respond(tab-port) { 
        font-size: 2rem;        
    }

    @include respond(phone) { 
        font-size: 2rem;        
    }


}

.paragraph {
    font-size:1.6rem;
    color:$font-color-heading;
    &:not(:last-child) {
       margin-bottom: 3rem; 
    }

    @include respond(tab-port) { 
        font-size: 1.8rem;        
    }

    @include respond(phone) { 
         font-size: 1.8rem;    

   
}

}
