
.sectionn-about {
    padding-bottom: 10rem;
    padding-top: 10rem;  

}  

.section-portfolio {
       padding-bottom: 10rem;
       padding-top: 10rem;    
       background-color: #f5f5f5;   
}

.section-contact {
    padding-bottom: 10rem;
    padding-top: 10rem;
    background-color: #f0f0f0
}



